<connectionStrings>
    <add name="AppContext"
         connectionString="Server=test_server;Database=dbApp_Test;
                              User Id=test_user;Password=test_user_pwd;"
         providerName="System.Data.SqlClient"/>
    <add name="AuthContext"
         connectionString="Server=test_auth_server;Database=dbAuth_test;
                              User Id=test_auth_user;Password=test_auth_user_pwd;"
         providerName="System.Data.SqlClient"/>
  </connectionStrings>